* {
  margin: 0;
  padding: 0;
  border: 0;
}
.container{
  height: 100vh;
  width: 100vw;
  background-color: rgb(85, 85, 85);
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.words-container{
  background-color: rgb(211, 171, 86);
  border: 4px solid black;
  width: 90%;
  height: 25%;
  margin-bottom: 5px;
}

.users-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border: 4px solid blueviolet;
  height: 65%;
  width: 90%;
  margin-top: 5px;
}

